<!DOCTYPE html>

<html>

	<head>
		<script type=text/javascript src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
		<link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
 		<script src="https://cdn.jsdelivr.net/npm/handsontable@8.3.2/dist/handsontable.full.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/handsontable@8.3.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
	</head>

	<body>
		<div id="control">
			<div id="text">Please allow a few seconds for loading after clicking 'GO'</div>
			<form id="controlform">
				<input id="ticker" name="ticker" type="text" placeholder="Ticker">
				<select id="tickertype" name="tickertype">
					<option value="Stocks">Stocks</option>
					<option value="Options">Options</option>
					<option value="Futures">Futures</option>
				</select>
				<input id="controlformsubmit" type="button" value="Go">
			</form>
		</div>
		<div id = "data"></div>	

		<script>
			function ajaxPost() {
				$.ajax({
				type: "POST",
				url: "/getdata",
				data: $("#controlform").serialize(),
				success: function(data){
					$("#data").html(data);
					}
				});
			}

			$("#controlformsubmit").click(ajaxPost);

			$("#controlform").submit(function(){
			    ajaxPost();
			    return false;
			});

			$('#tickertype').on('keypress',function(e){
			    if (e.which == 13){
			    	ajaxPost();
			    }
			});


		</script>
	</body>

</html>