<!DOCTYPE html>

<html>

	<head>
		<!--script>
			import Handsontable from "handsontable";
			import 'handsontable/dist/handsontable.full.css';
		</script-->
		<script type=text/javascript src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
	</head>

	<body>

		<div id = "data"></div>	

		<script>
			$.ajax({
				type: "POST",
				url: "/getdata",
				data: {ticker: "SPY", tickertype: "Test"},
				success: function(data){
					$("#data").html(data);
				}
			});
			/*setInterval(function() {
				$.ajax({
			      type: "POST",
			      url: "/getdata",
			      data: {ticker: "SPY", tickertype: "Test"}
			    })
			      .done(function(data) {
			      	document.getElementById('data').innerHTML = data;
			        var container = document.getElementById('data');
					var hot = new Handsontable(container, {
					  data: data,
					  rowHeaders: true,
					  colHeaders: true,
					  filters: true,
					  dropdownMenu: true
					});
			      });
			}, 1000);*/
		</script>
	</body>

</html>